* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body{
    background: #081b29;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover{
    color: #2576b9;
}

.navbar a.active{
    color: #2576b9;
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0px 10%;
}

.home-content{
    background-color: transparent;
    max-width: 600px;
}

.home-content h1{
    font-size: 50px;
    font-weight: 700;
}
.home-content h3{
    font-size: 25px;
    font-weight: 700;
    color: #2576b9;
    margin-top: 10px;
}
.home-content p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
    background: transparent;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #2576b9;
    border: 2px solid #2576b9;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    border-radius: 8px;
    transition: .5s;
}


.btn-box a:nth-child(2){
    color: #2576b9;
    background: transparent;

}
/**
.btn-box a:nth-child(2)::before{
    background: #2576b9;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}


.btn-box a:hover{
    color: #2576b9;
}
/
