* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body{
    background: #081b29;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover{
    color: #2576b9;
}

.navbar a.active{
    color: #2576b9;
}

.education{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    padding-bottom: 5rem;
    padding-top: 10rem;
}

.education .rangee{
    gap: 5rem;
    display:inline-flex;
    grid-auto-flow: column;
}

#bleu{
    color: #2576b9;
}

.rangee .colonne{
    height: auto;
    flex: 1 1 40rem;
}

.colonne .titre{
    font-size: 2rem;
    margin: 0 0 1.5rem 2rem;
}

.colonne .trait{
    border-left: .2rem solid #2576b9;
}

.trait .box .contenu{
    position: relative;
    padding-left: 2rem;
}

.contenu .contenubis{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #2576b9;
    border-radius: .6rem;
    margin-bottom: 2rem;
    min-height: 200px;
}

.contenubis .date{
    color: #2576b9;
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

.date i{
    padding-right: .5rem;
}

@media (max-width: 600px) {

    .navbar a {
        font-size: 16px;
    }

    .header {
        padding: 20px 3%;
    }

    .logo {
        font-size: 20px;
    }
    
}